
Bowling/.vs/Bowling/FileContentIndex/

Bowling/.vs/Bowling/v17/

Bowling/Bowling/obj/

Bowling/.vs/Bowling/DesignTimeBuild/

Bowling/.vs/ProjectEvaluation/

Bowling/Bowling/bin/Debug/net7.0/
